<h1>Inventory</h1>

<div class="actions">
  <%= link_to 'New Item', new_item_path, class: 'btn btn-primary' %>
</div>

<ul>
  <% @items.each do |item| %>
    <li>
      <% if item.image.attached? %>
        <%= image_tag item.image, size: "50x50" %>
      <% end %>
      <%= link_to item.name, item_path(item) %>
      <%= link_to 'Edit', edit_item_path(item), class: 'btn btn-secondary' %>
      
    <%= form_with(url: item_path(item), method: :delete, data: { confirm: 'Are you sure?' }) do |form| %>
      <%= form.submit 'Destroy', class: 'btn btn-danger' %>
    <% end %>


    </li>
  <% end %>
</ul>
